.categories {
  padding-top: 96px;
  &_items {
  }
  &_title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 23px;
  }
}
