.contact_content {
  justify-content: space-between;
  margin-bottom: 66px;
  @media (max-width: 1200px) {
    // flex-wrap: wrap;
    // max-width: calc(100% - 280px);
    gap: 45px 0;
  }
  @media (max-width: 768px) {
    gap: 28px;
    flex-direction: column;
    margin-bottom: 27px;
    align-items: flex-start !important;
  }
  .contact_content_item {
    .section_title {
      margin-bottom: 27px;
    }
    @media (max-width: 1170px) {
      width: calc(50% - 20px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    &:first-child {
      @media (max-width: 768px) {
        order: 4;
      }
    }
  }
  .first_item {
    @media (max-width: 1300px) {
      max-width: 300px;
    }
    @media (max-width: 1200px) {
      max-width: 291px;
    }
  }

  &_title {
    color: #a9a9ad;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  a {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    @media (max-width: 1320px) {
      font-size: 38px;
    }
    @media (max-width: 1270px) {
      font-size: 33px;
    }
    @media (max-width: 992px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  p {
    @media (max-width: 1270px) {
      font-size: 15px;
    }
    br {
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
  .left_contact {
    width: 100%;
    max-width: 1345px;
    gap: 8%;
    @media (max-width: 1754px) {
      max-width: 1170.5px;
    }
    @media (max-width: 1741px) {
      max-width: 1133.65px;
    }
    @media (max-width: 1545px) {
      max-width: 993.35px;
    }
    @media (max-width: 1461px) {
      max-width: 979.35px;
    }
    @media (max-width: 1400px) {
      max-width: 908.35px;
    }
    @media (max-width: 1320px) {
      max-width: 854.21px;
    }
    @media (max-width: 1270px) {
      max-width: 822.21px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
    .section_title {
      margin-left: -6px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
.maps {
  @media (max-width: 768px) {
    iframe {
      height: 312px;
    }
  }
}
.map_card {
  .section_title {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
