.contact_content {
  gap: 192px;
  margin-bottom: 66px;
  @media (max-width: 1525px) {
    gap: 95px;
  }
  @media (max-width: 1400px) {
    gap: 20px;
    max-width: 92%;
    justify-content: space-between;
  }
  @media (max-width: 1300px) {
    max-width: 81%;
  }
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    max-width: calc(100% - 280px);
    gap: 45px 0;
  }
  @media (max-width: 768px) {
    gap: 28px;
    margin-bottom: 27px;
  }
  .contact_content_item {
    .section_title {
      margin-bottom: 27px;
    }
    @media (max-width: 1170px) {
      width: calc(50% - 20px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    &:first-child {
      @media (max-width: 768px) {
        order: 4;
      }
    }
  }

  &_title {
    color: #a9a9ad;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  a {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    @media (max-width: 1320px) {
      font-size: 38px;
    }
    @media (max-width: 1270px) {
      font-size: 33px;
    }
    @media (max-width: 992px) {
      font-size: 32px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  p {
    @media (max-width: 1270px) {
      font-size: 15px;
    }
  }
}
.maps {
  @media (max-width: 768px) {
    iframe {
      height: 312px;
    }
  }
}
