.filter_button {
  float: right;
  padding: 10px 12px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #f50;
  display: flex;
  gap: 8px;
  align-items: center;
  outline: none;
  color: #f50;
}
