.footer {
  background: #000000;
  padding: 36px 0;
  margin-top: 96px;
  @media (max-width: 1200px) {
    padding-top: 66px;
  }
  @media (max-width: 768px) {
    margin-top: 58px;
    padding: 36px 0;
  }
  &_logo {
    img {
      @media (max-width: 768px) {
        max-width: 170px;
      }
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  &_top {
    max-width: 1529px;
    @media (max-width: 1310px) {
      flex-wrap: wrap;
      gap: 25px;
      justify-content: flex-start !important;
    }
    @media (max-width: 768px) {
      gap: 20px;
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start;
    }
    ul {
      gap: 39px;
      @media (max-width: 1300px) {
        flex-wrap: wrap;
      }
      @media (max-width: 768px) {
        gap: 20px;
      }
    }
  }
  &_menu {
    gap: 16px 0;
    @media (max-width: 1300px) {
      gap: 24px;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
    }
  }
  &_bottom {
    margin-top: 141px;
    color: #fff;
    @media (max-width: 1300px) {
      margin-top: 70px;
    }
    @media (max-width: 768px) {
      margin-top: 40px;
      padding-bottom: 56px;
    }
  }
}
