.galery {
  padding-top: 96px;
  @media (max-width: 1200px) {
    padding-top: 66px;
  }
  @media (max-width: 768px) {
    padding-top: 58px;
  }
  &_items {
    margin-top: 29px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      gap: 14px 0;
    }
  }
  &_item {
    width: calc(25% - 10px);
    @media (max-width: 992px) {
      width: calc(50% - 7px);
    }
    img {
      width: 100%;
    }
  }
}
