.header {
  padding: 32px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @media (max-width: 1400px) {
    padding: 24px 0;
  }
  @media (max-width: 1270px) {
    padding: 22px 0;
  }
  @media (max-width: 768px) {
    padding: 22px 0;
  }
  .logo_img {
    @media (max-width: 1460px) {
      width: 240px;
    }
    @media (max-width: 1200px) {
      width: 170px;
    }
    @media (max-width: 768px) {
      width: 155px;
    }
  }
  &_nav {
    gap: 16px 0;
    margin-top: -11px;
  }
  &_menu {
    gap: 30px;
    padding: 20px 0 0;
    @media (max-width: 1460px) {
      gap: 16px;
    }
    .last_link {
      order: 11;
    }
  }
  ul {
    gap: 32px;
    list-style: none;

    a {
      color: #000;
      text-decoration: none;
      transition: all 0.2s linear;
      font-size: 28.5px;
      @media (max-width: 1754px) {
        font-size: 22px;
      }
      @media (max-width: 1544px) {
        font-size: 18px;
      }
      // @media (max-width: 1460px) {
      //   font-size: 17px;
      // }
      @media (max-width: 1320px) {
        font-size: 16px;
      }

      &:hover {
        color: #f60;
      }
    }
  }
  .nav_list {
    flex-wrap: wrap-reverse;
    gap: 16px 32px;
    transition: all 0.2s linear;
    @media (max-width: 1585px) {
      gap: 18px;
    }
    @media (max-width: 1544px) {
      gap: 24px;
    }
    @media (max-width: 1460px) {
      gap: 16px 24px;
    }
    @media (max-width: 1270px) {
      gap: 16px;
    }
    @media (max-width: 1140px) {
      position: fixed;
      height: 100%;
      width: 50%;
      flex-direction: column !important;
      z-index: 12;
      right: -100%;
      top: 0;
      background: #fff;
      align-items: flex-end !important;
      justify-content: flex-start !important;
      padding: 100px 40px 40px;
    }
    @media (max-width: 768px) {
      width: 60%;
      padding: 90px 22px 20px 30px;
    }

    &.active {
      right: 0;
    }
    .exit_menu {
      display: none;
      @media (max-width: 1140px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        position: absolute;
        top: 16px;
        right: 32px;
        cursor: pointer;
      }
      svg {
        width: 100%;
      }
    }
  }
  .search_input {
    background: #edf3f6;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 11px 12px 9px;
    outline: none;
    border: none;
    width: 211px;
    @media (max-width: 1400px) {
      width: 140px;
    }
  }
  &_actions {
    display: flex;
    gap: 57px;
    @media (max-width: 1740px) {
      gap: 20px;
    }
    @media (max-width: 768px) {
      gap: 12px;
    }

    .cart_icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #f60;
    }
    ul {
      gap: 15px;
      li {
        flex: 0 0 auto;
        width: fit-content;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .hamburger {
    display: none;
    flex-direction: column;
    width: 37px;
    gap: 9px;
    flex: 0 0 auto;
    margin-top: -6px;
    @media (max-width: 1140px) {
      display: flex;
      right: -100%;
    }
    span {
      width: 100%;
      height: 3px;
      background: #f60;
      flex: 0 0 auto;
    }
  }
  .container {
    gap: 20px;
  }
  .search_input {
    @media (max-width: 768px) {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      transition: all 0.2s linear;
    }
    @media (max-width: 480px) {
      position: absolute;
      left: 0;
      top: 70px;
      z-index: 121;
      right: 0;
      margin: 0 auto;
    }
    &.active {
      @media (max-width: 768px) {
        width: 180px;
        padding-left: 12px;
        padding-right: 12px;
        overflow: auto;
      }
      @media (max-width: 480px) {
        width: calc(100% - 44px);
      }
    }
  }
  .mobile_actions {
    @media (max-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 121;
      padding: 22px;
      justify-content: space-between;
      box-shadow: -15px 4px 12px #f60;
    }
    .only_mobile {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          transform: scale(1.08, 1);
        }
      }
    }
  }
  .submenu {
    display: none;
  }

  a img {
    transition: all 0.2s linear;
  }
  .submenu_list {
    position: absolute;
    top: 64%;
    background: #ffff;
    padding: 12px 22px;
    gap: 16px;
    box-shadow: 0 2px 2px rgb(255, 196, 157);
    border-radius: 0 0 8px 8px;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    @media (max-width: 1140px) {
      position: static;
      height: 0;
      overflow: hidden;
      padding: 0;
    }
    a {
      font-size: 24px;
    }
  }
  .has_menu img {
    transition: all 0.2s linear;
  }
  .has_menu:hover img {
    transform: rotate(-180deg);
  }
  .has_menu:hover .submenu_list {
    opacity: 1;
    visibility: inherit;
    @media (max-width: 1140px) {
      position: static;
      height: max-content;
      overflow: hidden;
      padding: 12px 12px;
      border-radius: 0;
      box-shadow: none;
      padding: 16px 0;
    }
    a {
      @media (max-width: 1140px) {
        font-size: 15px;
      }
    }
  }
}
