.intro {
  padding: 96px 0 0;
  .section_title {
    margin-bottom: 32px;
  }
  .container {
    a {
      position: relative;
    }
    .intro_img {
      width: 100%;
      object-fit: contain;
    }
    .play {
      position: absolute;
      inset: 0;
      margin: auto;
      z-index: 2;
      width: 127px;
      height: 127px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000;
    }
  }
}
