.intro {
  padding: 96px 0 0;
  @media (max-width: 1200px) {
    padding-top: 66px;
  }
  @media (max-width: 768px) {
    padding-top: 58px;
  }
  .section_title {
    margin-bottom: 32px;
  }
  .container {
    a {
      position: relative;
    }
    .intro_img {
      width: 100%;
      object-fit: contain;
    }
    .play {
      position: absolute;
      inset: 0;
      margin: auto;
      z-index: 2;
      width: 127px;
      height: 127px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000000;
      @media (max-width: 768px) {
        width: 45px;
        height: 45px;
      }
      img {
        @media (max-width: 768px) {
          width: 18px;
          transform: translateX(2px);
        }
      }
    }
  }
}
