.news {
  padding-top: 96px;
  @media (max-width: 768px) {
    padding-top: 58px;
  }
  &_banner {
    position: relative;
    margin-top: 32px;
    .news_title {
      color: #ffffff;
      margin-bottom: 25px;
      @media (max-width: 768px) {
        width: 171px;
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
      }
    }
    img {
      width: 100%;
      height: 456px;
      object-fit: cover;
    }
    .mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
        height: fit-content;
      }
    }
    .desctop {
      @media (max-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &_info {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    padding-left: 156px;
    padding-top: 92px;
    @media (max-width: 992px) {
      padding-left: 50px;
      padding-top: 50px;
    }
    @media (max-width: 768px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 0 39px;
      align-items: center;
      max-width: 239px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}
