.order {
  .section_title.big {
    max-width: 1092px;
    padding-top: 0;
    @media (max-width: 1400px) {
      max-width: 820px;
    }
    @media (max-width: 992px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      padding-top: 16px;
    }
  }
  .shop_content {
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 34px;
      margin-top: 16px;
    }
  }
  &_form {
    .section_title {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 992px) {
        padding-top: 0;
        font-size: 20px;
      }
    }

    &_item {
      margin-top: 38px;
      @media (max-width: 992px) {
        margin-top: 22px;
      }
      &_top {
        gap: 24px;
        img {
          transform: rotate(-90deg);
        }
      }

      input {
        padding: 22px 16px;
        border: 1px solid #f3f3f9;
        background: #fff;
        width: 100%;
        max-width: 1074px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 28px;
        transition: all 0.2s linear;
        outline: none;
        @media (max-width: 992px) {
          margin-top: 25px;
          font-size: 16px;
          padding: 22px 11px;
        }
        &:focus {
          border-color: #f60;
        }
      }

      p {
        margin-top: 9px;
        color: #a9a9ad;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 768px) {
          margin-top: 6px;
        }
      }
    }

    .delivery {
      margin-top: 45px;

      .delivery_type_tabs {
        display: flex;
        gap: 30px;
        margin-bottom: 31px;
        @media (max-width: 768px) {
          justify-content: space-between;
          gap: 20px;
          margin-bottom: 28px;
        }
        .tab {
          cursor: pointer;

          input {
            display: none;
          }

          span {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-bottom: 5px;
            transition: all 0.11s linear;
            @media (max-width: 1024px) {
              font-size: 24px;
            }
            @media (max-width: 992px) {
              font-size: 20px;
            }
          }

          input:checked + span {
            border-bottom: 3px solid #f60;
          }
        }
      }

      .delivery_date_tabs {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 24px;
        @media (max-width: 768px) {
          gap: 8px;
          margin-bottom: 19px;
        }
        .date_tab {
          input {
            display: none;
          }

          span {
            padding: 21px 23px 20px 22px;
            border-radius: 5px;
            border: 1px solid #cecece;
            cursor: pointer;
            display: block;
            text-align: center;
            white-space: nowrap;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media (max-width: 768px) {
              padding: 17px 18px;
              font-size: 13.224px;
            }
          }

          input:checked + span {
            border-color: #000;
          }
        }
      }

      .delivery_time_tabs {
        display: flex;
        gap: 15px;

        .time_tab {
          @media (max-width: 768px) {
            width: 50%;
          }
          input {
            display: none;
          }

          span {
            padding: 14px 20px;
            border: 1px solid #ccc;
            border-radius: 6px;
            cursor: pointer;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media (max-width: 768px) {
              padding: 15px;
              font-size: 13.224px;
            }
            small {
              display: block;
              font-size: 12px;
              color: green;
              margin-top: 4px;
            }
          }

          input:checked + span {
            border-color: #000;
          }
        }
      }
    }

    .payment {
      margin-top: 60px;
      width: 100%;
      max-width: 814px;
      @media (max-width: 768px) {
        margin-top: 47px;
      }
      .payment_tabs {
        display: flex;
        gap: 15px;
        margin-bottom: 24px;
        margin-top: 24px;
        @media (max-width: 768px) {
          margin-top: 15px;
          margin-bottom: 19px;
        }

        .pay_tab {
          input {
            display: none;
          }

          span {
            padding: 12px 18px 14px;
            border-radius: 6px;
            border-radius: 5px;
            background: #bec0c9;
            cursor: pointer;
            display: block;
            color: #fff;
            font-size: 16px;
          }

          input:checked + span {
            background: #ff6a00;
          }
        }
      }

      /* METHODS GRID */
      .payment_methods {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-bottom: 60px;
        @media (max-width: 992px) {
          margin-bottom: 34px;
        }
      }

      .method {
        input {
          display: none;
        }

        .method_inner {
          border: 1px solid #cecece;
          border-radius: 5px;
          padding: 10px 12px 13px 26px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 71px;
          cursor: pointer;
          @media (max-width: 1024px) {
            flex-direction: column;
            padding: 14px 5px 5px 15px;
            height: 100%;
            justify-content: space-between;
          }
          img {
            @media (max-width: 1024px) {
              margin-left: auto;
            }
          }
          &.flex {
            width: 100%;
          }
        }

        input:checked + .method_inner {
          border-color: #000;
        }

        &.big {
          grid-column: span 1;
        }

        &.full {
          grid-column: span 2;
        }
      }

      .method_text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      .method_desc {
        color: #a9a9ad;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 4px;
        @media (max-width: 768px) {
          display: none;
        }
      }

      /* RECEIVER */
      .receiver_title {
        font-size: 22px;
        margin-bottom: 15px;
      }

      .receiver_card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 21px 22px 20px 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        max-width: 402px;
        margin-top: 18px;
        margin-bottom: 18px;
      }

      .receiver_name {
        font-size: 16px;
      }

      .receiver_phone {
        color: #87929a;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .receiver_arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid orange;
        border-bottom: 2px solid orange;
        transform: rotate(45deg);
      }

      .rules_link {
        margin-top: 18px;
        color: #a9a9ad;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        a {
          color: #f60;
        }
      }
    }
  }
  .summary {
    width: 100%;
    max-width: 605px;
    @media (max-width: 1200px) {
      max-width: 420px;
    }
    @media (max-width: 992px) {
      max-width: 100%;
    }
    .images {
      gap: 23px;
      margin-bottom: 37px;
      @media (max-width: 1024px) {
        gap: 13px;
        margin-bottom: 20px;
      }
      img {
        max-width: 83px;
      }
    }
    .order_btn {
      font-size: 24px;
      margin-top: 27px;
      padding: 31px;
      background: #f60;
      @media (max-width: 768px) {
        padding: 15px;
        margin-top: 16px;
        font-size: 16px;
      }
    }
  }
}
