.promo {
  padding-top: 96px;
  @media (max-width: 1200px) {
    padding-top: 66px;
  }
  @media (max-width: 768px) {
    padding-top: 58px;
  }
  .section_title br {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_items {
    margin-top: 81px;
    @media (max-width: 992px) {
      margin-top: 60px;
      flex-wrap: wrap;
      gap: 20px 0;
    }
    @media (max-width: 768px) {
      gap: 58px;
      margin-top: 53px;
    }
  }
  &_item {
    width: calc(33.33% - 28.5px);
    @media (max-width: 1200px) {
      width: calc(33.33% - 10px);
    }
    @media (max-width: 992px) {
      width: calc(50% - 10px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    &_tite {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: #87929a;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 29px;
    }
  }
}
