.product {
  padding: 40px 0;
  @media (max-width: 768px) {
    padding: 0;
  }
  .breadcrumbs {
    width: 100%;
    margin-bottom: 85px;
    @media (max-width: 1440px) {
      margin-bottom: 40px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }
    @media (max-width: 992px) {
      margin-bottom: 16px;
    }
    .breadcrumbs_items {
      list-style: none;
      gap: 8px;
      align-items: center;
      color: #a9a9ad;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 0 5px;
      }
      li {
        flex: 0 0 auto;
      }
    }
    a {
      text-decoration: none;
      color: #a9a9ad;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .container {
    gap: 20px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 12px;
    }
  }
  .product_info {
    max-width: 874px;
    @media (max-width: 1700px) {
      max-width: 49%;
    }
    @media (max-width: 1641px) {
      max-width: 51%;
    }
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    &_top {
      // @media (max-width: 1430px) {
      //   flex-direction: column;
      //   gap: 24px;
      // }
      @media (max-width: 992px) {
        order: -1;
      }
      .product_rating {
        display: none !important;
        @media (max-width: 992px) {
          display: flex !important;
          align-items: center;
        }
      }
    }
    .section_title {
      font-size: 48px;
      @media (max-width: 1641px) {
        font-size: 38px;
      }
      @media (max-width: 992px) {
        margin-top: 8px;
      }
      @media (max-width: 768px) {
        margin-top: 8px;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .button {
      width: 100%;
      min-width: 293px;
      padding: 19px 20px;
      text-align: center;
      @media (max-width: 1440px) {
        min-width: 253px;
        font-size: 19px;
      }
    }
    .btn_cart {
      padding: 19px;
    }
    .product_price {
      align-items: flex-end;
      gap: 29px;
      margin-top: 19px;
      @media (max-width: 992px) {
        order: -2;
        margin-top: 0;
      }
      .old_price {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: line-through;
      }
      .new_price {
        color: #f60;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
    }
    .product_rating {
      font-size: 20px;
      margin-top: 11px;
      display: flex;
      align-items: center;
      color: #a9a9ad;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      gap: 8px;
      @media (max-width: 992px) {
        margin-top: 0;
      }
      &.flex {
        @media (max-width: 992px) {
          display: none !important;
        }
      }
    }
    .product_colors {
      margin-top: 43px;
      @media (max-width: 1200px) {
        display: none;
      }
      p {
        color: #a9a9ad;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .flex {
        gap: 20px;
        margin-top: 28px;
      }
      label {
        position: relative;
        cursor: pointer;
        input {
          opacity: 0;
          position: absolute;
        }
        input:checked ~ img {
          opacity: 0.8;
        }
      }
    }
    .product_sizes {
      margin-top: 43px;
      @media (max-width: 992px) {
        margin-top: 28px;
      }
      .product_sizes_items {
        gap: 22px;
        margin-top: 26px;
        @media (max-width: 992px) {
          gap: 17px;
          margin-top: 18px;
        }
      }
      p {
        color: #a9a9ad;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      label {
        position: relative;
        input {
          position: absolute;
          opacity: 0;
        }
        div {
          cursor: pointer;
          width: 66px;
          height: 66px;
          border: 1px solid #a9a9ad;
          background: #fff;
          justify-content: center;
          align-items: center;
          @media (max-width: 992px) {
            width: 51px;
            height: 51px;
          }
          span {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media (max-width: 992px) {
              font-size: 16px;
            }
            &.disablet {
              color: #a9a9ad;
            }
          }
        }
        input:checked + div {
          border-color: #f60;
        }
      }
    }
    .product_specs {
      margin-top: 72px;
      @media (max-width: 992px) {
        margin-top: 28px;
      }
      li {
        display: flex;
        justify-content: space-between;
      }
      span,
      b {
        color: #a9a9ad;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        list-style: none;
        width: calc(50% - 25.1px);
        @media (max-width: 992px) {
          font-size: 18px;
          width: calc(50% - 15.1px);
        }
        @media (max-width: 556px) {
          font-size: 12px;
          width: calc(50% - 15.1px);
        }
      }
    }
  }
  &_caracter {
    margin-top: 79px;
    @media (max-width: 992px) {
      margin-top: 49px;
    }
    @media (max-width: 768px) {
      margin-top: 29px;
    }
    &_title {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
    &_content {
      margin-top: 44px;
      @media (max-width: 768px) {
        margin-top: 19px;
      }
      .product_content_title {
        margin-bottom: 26px;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      ul {
        li {
          gap: 70px;
          @media (max-width: 1200px) {
            gap: 10px;
          }
          span {
            color: #a9a9ad;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 10%;
            @media (max-width: 768px) {
              width: 25%;
              font-size: 12px;
            }
          }
          p {
            color: #000;
            @media (max-width: 768px) {
              font-size: 12px;
            }
          }
        }
      }
      &.next {
        li {
          span {
            width: 49%;
          }
        }
      }
    }

    .caracteristic_text {
      color: #a9a9ad;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
.product_gallery {
  gap: 20px;
  width: calc(42% - 10px);
  @media (max-width: 1641px) {
    width: calc(46% - 10px);
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.product_thumbs {
  max-width: 128px;
  width: 100%;
  max-height: 785px;
  overflow: hidden;
  display: flex;
  @media (max-width: 1641px) {
    max-height: 685px;
  }
  @media (max-width: 1430px) {
    max-height: 610px;
    max-width: 91px;
  }
  @media (max-width: 1190px) {
    display: none;
  }
  img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    height: 100%;
  }
}

.product_main {
  width: 606px;
  @media (max-width: 1200px) {
    width: 100%;
    max-width: 456px;
  }
  @media (max-width: 992px) {
    max-width: 100%;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.color {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;

  &.active {
    border-color: #000;
  }

  &.orange {
    background: orange;
  }
  &.gray {
    background: #666;
  }
  &.black {
    background: #000;
  }
}

.product_actions {
  @media (max-width: 1430px) {
    gap: 24px;
  }
  @media (max-width: 768px) {
    flex-direction: row !important;
    gap: 14px;
  }
  .btn_buy {
    background: #000;
    color: #fff;
    border: none;
  }
  .button {
    @media (max-width: 768px) {
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      min-width: auto !important;
      max-width: calc(50% - 7px);
      padding: 10px 13px !important ;
    }
  }
}

.product_specs {
  font-size: 14px;
  color: #444;

  p {
    margin-bottom: 5px;
  }
}

.product_description {
  margin-top: 60px;

  h2 {
    margin-bottom: 15px;
  }
}
