.shop {
  padding: 63px 0;
  @media (max-width: 1400px) {
    padding: 50px 0;
  }
  @media (max-width: 1200px) {
    padding: 0px 0;
  }
  &_top {
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .container {
    padding-top: 22px;
    position: relative;
    @media (max-width: 992px) {
      padding-top: 6px;
    }
  }
  .section_title {
    width: 100%;
    max-width: 988px;
    margin: 0 auto;
    @media (max-width: 1400px) {
      max-width: 100%;
      padding-top: 16px;
    }
  }
  .breadcrumbs {
    color: #a9a9ad;
    &_items {
      gap: 5px;
    }
    li {
      list-style: none;

      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      a {
        color: #a9a9ad;
        text-decoration: none;
      }
    }
  }
  &_content {
    margin-top: 26px;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 36px;
      gap: 0;
    }
    .cart_list {
      @media (max-width: 1025px) {
        width: 60%;
      }
      @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }
    }
    .cart_item {
      gap: 24px;
      margin-bottom: 33px;
      @media (max-width: 1025px) {
        flex-direction: column;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 7px);
        gap: 7px;
        margin-bottom: 28px;
      }
    }

    .cart_img {
      width: 294px;
      flex-shrink: 0;

      @media (max-width: 1400px) {
        width: 220px;
      }
      @media (max-width: 1025px) {
        width: 100%;
      }
      @media (max-width: 768px) {
        min-height: 448px;
        object-fit: cover;
      }
      @media (max-width: 556px) {
        min-height: 308px;
        max-height: 308px;
        object-fit: cover;
      }
      @media (max-width: 460px) {
        min-height: 248px;
        max-height: 248px;
        object-fit: cover;
      }
    }
    .cart_content {
      display: flex;
      align-items: flex-start;
      gap: 46px;
      @media (max-width: 1200px) {
        flex-direction: column;
        gap: 33px;
      }
      @media (max-width: 992px) {
        gap: 23px;
      }
      @media (max-width: 768px) {
        gap: 13px;
      }
    }
    .cart_info {
      &_top {
        display: flex;
        align-items: flex-end;
        gap: 18px;
      }
    }

    .old_price {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: line-through;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }

    .price {
      color: #f60;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    .cart_title {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 130px;
      margin-top: 16px;
      @media (max-width: 768px) {
        margin-top: 14px;
      }
      @media (max-width: 556px) {
        width: 100%;
        margin-top: 4px;
      }
    }
    .counter {
      background: #e3e2e8;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      max-width: 88px;
    }

    .count_btn {
      font-size: 24px;
      background: transparent;
      border: 0;
      outline: none;
      width: 30px;
      flex: 0 0 auto;
      &:hover {
        background: #ededed;
      }
    }

    .count {
      min-width: 20px;
      text-align: center;
      font-size: 14px;
    }
    .summary {
      max-width: 605px;
      background: #f7f7f7;
      padding: 36px 38px 38px 40px;
      border-radius: 8px;
      @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }
      @media (max-width: 556px) {
        padding: 19px 22px;
      }

      h3 {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 18px;
        @media (max-width: 556px) {
          font-size: 17.361px;
        }
      }
    }

    .summary_row {
      font-size: 14px;
      margin-bottom: 8px;
      #sum_price {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 556px) {
          font-size: 13.021px;
        }
      }
    }
    .discounts {
      color: #f60;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .discount {
      color: #ff6a00;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 556px) {
        font-size: 13.021px;
      }
    }

    .summary_total {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      span {
        @media (max-width: 556px) {
          font-size: 17.361px;
        }
        &#total {
          @media (max-width: 556px) {
            font-size: 19.531px;
          }
        }
      }
    }

    .delivery_text {
      color: #9d9ba3;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: 556px) {
        font-size: 10px;
      }
    }

    .order_btn {
      width: 100%;
      margin-top: 50px;
      padding: 19px;
      background: #ff6a00;
      color: #ffffff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      font-family: "Montserrat";
      outline: none;
      gap: 7px;
      display: flex;
      @media (max-width: 556px) {
        margin-top: 25px;
        gap: 3px;
        padding: 10px 10px 9px;
      }
      &:hover {
        background: #e85f00;
      }
      & > span {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 556px) {
          font-size: 13.021px;
          font-style: normal;
        }
      }
      p {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 556px) {
          font-size: 10px;
        }
        span {
          text-decoration-line: line-through;
        }
      }
    }

    .promo {
      margin-top: 0px;
      cursor: pointer;
      user-select: none;
      padding-top: 36px;
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      position: relative;
      @media (max-width: 556px) {
        padding-top: 19px;
      }
      .promo_top {
        width: 100%;
        justify-content: space-between;
        @media (max-width: 1200px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 17.361px;
        }
        img {
          transition: all 0.2s linear;
        }
        &.active {
          img {
            transform: rotate(-180deg);
          }
        }
      }
      .code {
        padding: 5px 12px;
        font-size: 24px;
        background: #fff;
        width: 100%;
        margin-top: 20px;
        opacity: 0;
        height: 0;
        transition: all 0.2s linear;

        &.active {
          overflow: visible;
          height: fit-content;
          opacity: 1;
        }
      }
      .copy {
        position: absolute;
        color: #fff;
        background: #f60;
        opacity: 0;
        transition: all 0.2s linear;
        bottom: 5px;
        border-radius: 5px;
        font-size: 16px;
        right: 5px;
        padding: 2px 5px;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  &_bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
