.sidebar {
  width: 100%;
  max-width: 390px;
  @media (max-width: 1200px) {
    max-width: 300px;
  }
  &.cont {
    @media (max-width: 1400px) {
      max-width: 320px;
    }
  }
  &_links {
    width: fit-content;
    margin-left: auto;
    margin-top: 94px;

    li {
      list-style: none;
    }
    a {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
      line-height: normal;
      @media (max-width: 1300px) {
        font-size: 18px;
      }
    }
  }
}
