.sidebar {
  width: 100%;
  max-width: 390px;
  &_links {
    width: fit-content;
    margin-left: auto;
    margin-top: 94px;
    li {
      list-style: none;
    }
    a {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
      line-height: normal;
    }
  }
}
