.tops {
  padding-top: 96px;
  @media (max-width: 1200px) {
    padding-top: 66px;
  }
  @media (max-width: 768px) {
    padding-top: 58px;
  }
  &_items {
    margin-top: 29px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      gap: 24px 0;
    }
    @media (max-width: 768px) {
      gap: 14px 0;
    }
  }
  &_item {
    img {
      height: 100%;
      width: 100%;
      min-height: 598px;
      @media (max-width: 1700px) {
        min-height: 528px;
        height: 100%;
      }
      @media (max-width: 1600px) {
        min-height: 508px;
        height: 100%;
      }
      @media (max-width: 1500px) {
        min-height: 458px;
        height: 100%;
      }
      @media (max-width: 1400px) {
        min-height: 418px;
        height: 100%;
      }
      @media (max-width: 1300px) {
        min-height: 388px;
        height: 100%;
      }
      @media (max-width: 1200px) {
        min-height: 368px;
        height: 100%;
      }
      @media (max-width: 1024px) {
        min-height: 328px;
        height: 100%;
      }
      @media (max-width: 992px) {
        height: 528px;
      }
      @media (max-width: 768px) {
        height: 428px;
      }
      @media (max-width: 660px) {
        height: 368px;
      }
      @media (max-width: 556px) {
        height: 297px;
        min-height: auto;
      }
      @media (max-width: 460px) {
        height: 237px;
        min-height: auto;
      }
      @media (max-width: 380px) {
        height: 207px;
        min-height: auto;
      }
    }
  }
  &_block {
    margin-top: 29px;
    position: relative;
  }
  /* Pastki controls */
  .tops_controls {
    margin-top: 16px;
    gap: 16px;
  }
  .tops_nav {
    position: absolute;
    inset: 0;
    margin: auto;
    @media (max-width:556px) {
      display: none;
    }
  }
  .tops_nav button {
    width: 36px;
    height: 36px;
    z-index: 2;
    border: none;
    background: #ffffffb8;
    color: #f60;
    font-size: 25px;
    cursor: pointer;
    @media (max-width: 556px) {
      width: 26px;
      height: 26px;
      font-size: 18px;
    }
  }

  .tops_scrollbar {
    height: 4px;
    width: 100%;
    background: rgba(227, 226, 232, 0.4509803922);
    margin-top: 24px;
    position: relative;
    margin-left: -10px;
    .swiper-scrollbar-drag {
      background: #f60;
    }
  }

  .tops_swiper {
    overflow: visible;
  }

  .tops_progress_thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%; /* default */
    height: 100%;
    background: #f60;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
}
