@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "header";
@import "hero";
@import "categories";
@import "promo";
@import "tops";
@import "intro";
@import "news";
@import "galery";
@import "footer";
@import "sidebar";
@import "brands";
@import "profile";
@import "shop";
@import "order";

//pages
@import "catalog";
@import "news_page";
@import "contact";
@import "product";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper {
  overflow: hidden;
}
.container {
  padding: 0 32px;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 1270px) {
    padding: 0 24px;
  }
  @media (max-width: 992px) {
    padding: 0 22px;
  }
}
.flex {
  display: flex;
  &.a_center {
    align-items: center;
  }

  &.a_start {
    align-items: flex-start;
  }

  &.a_end {
    align-items: flex-end;
  }
  &.end {
    justify-content: end;
  }
  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }
  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.no_wrap {
    flex-wrap: nowrap;
  }

  &.gap_4 {
    gap: 4px;
  }

  &.gap_8 {
    gap: 8px;
  }

  &.gap_12 {
    gap: 12px;
  }

  &.gap_16 {
    gap: 16px;
  }
}

.flex.gap_24 {
  gap: 24px;
}

.flex.grow {
  flex-grow: 1;
}

.flex.no_grow {
  flex-grow: 0;
}
.button {
  background: #f60;
  padding: 19px 74px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  @media (max-width: 768px) {
    padding: 12px 36px 12px 37px;
    color: #fff;
  }
}
.section_title {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media (max-width: 1400px) {
    font-size: 48px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
