@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "header";
@import "hero";
@import "categories";
@import "promo";
@import "tops";
@import "intro";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper {
  overflow: hidden;
}
.container {
  padding: 0 32px;
  max-width: 1920px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex.a_center {
  align-items: center;
}

.flex.a_start {
  align-items: flex-start;
}

.flex.a_end {
  align-items: flex-end;
}
.flex.end {
  justify-content: end;
}
.flex.center {
  justify-content: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.around {
  justify-content: space-around;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.no_wrap {
  flex-wrap: nowrap;
}

.flex.gap_4 {
  gap: 4px;
}

.flex.gap_8 {
  gap: 8px;
}

.flex.gap_12 {
  gap: 12px;
}

.flex.gap_16 {
  gap: 16px;
}

.flex.gap_24 {
  gap: 24px;
}

.flex.grow {
  flex-grow: 1;
}

.flex.no_grow {
  flex-grow: 0;
}
.button {
  background: #f60;
  padding: 19px 74px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.section_title {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
