@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  padding: 32px 0;
  background: #fff;
}
@media (max-width: 768px) {
  .header {
    padding: 22px 0;
  }
}
@media (max-width: 1460px) {
  .header .logo_img {
    width: 240px;
  }
}
@media (max-width: 768px) {
  .header .logo_img {
    width: 155px;
  }
}
.header_nav {
  gap: 16px 0;
  margin-top: -11px;
}
.header_menu {
  gap: 30px;
}
@media (max-width: 1460px) {
  .header_menu {
    gap: 16px;
  }
}
.header ul {
  gap: 32px;
  list-style: none;
}
.header ul a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s linear;
}
@media (max-width: 1460px) {
  .header ul a {
    font-size: 14px;
  }
}
@media (max-width: 1270px) {
  .header ul a {
    font-size: 16px;
  }
}
.header ul a:hover {
  color: #f60;
}
.header .nav_list {
  flex-wrap: wrap-reverse;
  gap: 16px 32px;
  max-width: 59%;
  transition: all 0.2s linear;
}
@media (max-width: 1460px) {
  .header .nav_list {
    gap: 16px 24px;
  }
}
@media (max-width: 1270px) {
  .header .nav_list {
    position: fixed;
    height: 100%;
    width: 50%;
    flex-direction: column !important;
    z-index: 12;
    right: -100%;
    top: 0;
    background: #fff;
    align-items: flex-end !important;
    justify-content: flex-start !important;
    padding: 100px 40px 40px;
  }
}
@media (max-width: 768px) {
  .header .nav_list {
    width: 60%;
    padding: 90px 22px 20px 30px;
  }
}
.header .nav_list.active {
  right: 0;
}
.header .nav_list .exit_menu {
  display: none;
}
@media (max-width: 1270px) {
  .header .nav_list .exit_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 32px;
    cursor: pointer;
  }
}
.header .nav_list .exit_menu svg {
  width: 100%;
}
.header .search_input {
  background: #edf3f6;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 11px 12px 9px;
  outline: none;
  border: none;
  width: 211px;
}
.header_actions {
  display: flex;
  gap: 57px;
  margin-bottom: -11px;
}
@media (max-width: 1740px) {
  .header_actions {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .header_actions {
    gap: 12px;
  }
}
.header_actions .cart_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f60;
}
.header_actions ul {
  gap: 15px;
}
.header_actions ul li {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.header_actions ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hamburger {
  display: none;
  flex-direction: column;
  width: 37px;
  gap: 9px;
  flex: 0 0 auto;
}
@media (max-width: 1270px) {
  .header .hamburger {
    display: flex;
    right: -100%;
  }
}
.header .hamburger span {
  width: 100%;
  height: 3px;
  background: #f60;
  flex: 0 0 auto;
}
.header .container {
  gap: 20px;
}
@media (max-width: 768px) {
  .header .search_input {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    transition: all 0.2s linear;
  }
}
@media (max-width: 480px) {
  .header .search_input {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 121;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header .search_input.active {
    width: 180px;
    padding-left: 12px;
    padding-right: 12px;
    overflow: auto;
  }
}
@media (max-width: 480px) {
  .header .search_input.active {
    width: calc(100% - 44px);
  }
}
@media (max-width: 768px) {
  .header .mobile_actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 121;
    padding: 22px;
    justify-content: space-between;
    box-shadow: -15px 4px 12px #f60;
  }
}
.header .mobile_actions .only_mobile {
  display: none;
}
@media (max-width: 768px) {
  .header .mobile_actions .only_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .mobile_actions .only_mobile img {
    transform: scale(1.08, 1);
  }
}

.hero .my_swiper img {
  width: 100%;
}
.hero .my_swiper .swiper-slide .hero_info {
  position: absolute;
  left: 0;
  z-index: 3;
  bottom: 149px;
  left: 156px;
}
@media (max-width: 1300px) {
  .hero .my_swiper .swiper-slide .hero_info {
    left: 100px;
    bottom: 90px;
  }
}
@media (max-width: 992px) {
  .hero .my_swiper .swiper-slide .hero_info {
    left: 20px;
    bottom: 79px;
  }
}
@media (max-width: 768px) {
  .hero .my_swiper .swiper-slide .hero_info {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 67px;
    padding-top: 68px;
  }
}
.hero .my_swiper .swiper-slide .hero_info .top_text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: 0;
  margin-left: calc(100% + 75px);
}
@media (max-width: 1300px) {
  .hero .my_swiper .swiper-slide .hero_info .top_text {
    margin-left: calc(50% + 75px);
  }
}
@media (max-width: 992px) {
  .hero .my_swiper .swiper-slide .hero_info .top_text {
    margin-left: calc(15% + 75px);
  }
}
@media (max-width: 768px) {
  .hero .my_swiper .swiper-slide .hero_info .top_text {
    margin-left: 0;
    bottom: 67px;
    color: #fff;
    max-width: 164px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
  }
}
.hero .my_swiper .swiper-slide .hero_info h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1300px) {
  .hero .my_swiper .swiper-slide .hero_info h1 {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .hero .my_swiper .swiper-slide .hero_info h1 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .hero .my_swiper .swiper-slide .hero_info h1 {
    display: none;
  }
}
.hero .my_swiper .swiper-slide .hero_info .button {
  margin-top: 52px;
}
@media (max-width: 1300px) {
  .hero .my_swiper .swiper-slide .hero_info .button {
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .hero .my_swiper .swiper-slide .hero_info .button {
    margin-top: 20px;
  }
}
@media (max-width: 650px) {
  .hero .my_swiper .swiper-slide .hero_info .button {
    padding: 12px 43px;
    font-size: 24px;
  }
}
.hero .my_swiper .descop {
  display: block;
}
@media (max-width: 768px) {
  .hero .my_swiper .descop {
    display: none;
  }
}
.hero .my_swiper .mobile {
  display: none;
}
@media (max-width: 768px) {
  .hero .my_swiper .mobile {
    display: block;
  }
}
.hero .container {
  position: relative;
}
.hero .custom_pagination {
  gap: 9px;
  position: absolute;
  bottom: 81px;
  left: 189px;
}
@media (max-width: 1300px) {
  .hero .custom_pagination {
    left: 130px;
    bottom: 60px;
  }
}
@media (max-width: 992px) {
  .hero .custom_pagination {
    left: 40px;
    bottom: 50px;
  }
}
@media (max-width: 768px) {
  .hero .custom_pagination {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .hero .custom_pagination {
    bottom: 44px;
  }
}
.hero .custom_pagination .custom_bullet {
  width: 59px;
  height: 7px;
  background: #fff;
  flex: 0 0 auto;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hero .custom_pagination .custom_bullet {
    width: 36px;
    height: 4px;
  }
}
.hero .custom_pagination .custom_bullet.active {
  background: #f60;
}

.categories {
  padding-top: 96px;
}
@media (max-width: 1200px) {
  .categories {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .categories {
    padding-top: 58px;
  }
}
.categories_title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 23px;
}
@media (max-width: 992px) {
  .categories_title {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .categories_items {
    flex-wrap: wrap;
    gap: 24px;
  }
}
.categories_item {
  width: calc(33.33% - 10px);
}
@media (max-width: 992px) {
  .categories_item {
    width: 100%;
  }
}
.categories_item img {
  width: 100%;
}

.promo {
  padding-top: 96px;
}
@media (max-width: 1200px) {
  .promo {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .promo {
    padding-top: 58px;
  }
}
@media (max-width: 768px) {
  .promo .section_title br {
    display: none;
  }
}
.promo_items {
  margin-top: 81px;
}
@media (max-width: 992px) {
  .promo_items {
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 20px 0;
  }
}
@media (max-width: 768px) {
  .promo_items {
    gap: 58px;
    margin-top: 53px;
  }
}
.promo_item {
  width: calc(33.33% - 28.5px);
}
@media (max-width: 1200px) {
  .promo_item {
    width: calc(33.33% - 10px);
  }
}
@media (max-width: 992px) {
  .promo_item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .promo_item {
    width: 100%;
  }
}
.promo_item_tite {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.promo_item p {
  color: #87929a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 29px;
}

.tops {
  padding-top: 96px;
}
@media (max-width: 1200px) {
  .tops {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .tops {
    padding-top: 58px;
  }
}
.tops_items {
  margin-top: 29px;
}
@media (max-width: 992px) {
  .tops_items {
    flex-wrap: wrap;
    gap: 24px 0;
  }
}
@media (max-width: 768px) {
  .tops_items {
    gap: 14px 0;
  }
}
.tops_item {
  width: calc(25% - 10px);
}
@media (max-width: 992px) {
  .tops_item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .tops_item {
    width: calc(50% - 7px);
  }
}
.tops_item img {
  height: 100%;
  width: 100%;
  max-height: 598px;
}

.intro {
  padding: 96px 0 0;
}
@media (max-width: 1200px) {
  .intro {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .intro {
    padding-top: 58px;
  }
}
.intro .section_title {
  margin-bottom: 32px;
}
.intro .container a {
  position: relative;
}
.intro .container .intro_img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro .container .play {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  width: 127px;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
@media (max-width: 768px) {
  .intro .container .play {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  .intro .container .play img {
    width: 18px;
    transform: translateX(2px);
  }
}

.news {
  padding-top: 96px;
}
@media (max-width: 768px) {
  .news {
    padding-top: 58px;
  }
}
.news_banner {
  position: relative;
  margin-top: 32px;
}
.news_banner .news_title {
  color: #ffffff;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .news_banner .news_title {
    width: 171px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
  }
}
.news_banner img {
  width: 100%;
  height: 456px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_banner .mobile {
  display: none;
}
@media (max-width: 768px) {
  .news_banner .mobile {
    display: block;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 768px) {
  .news_banner .desctop {
    display: none;
  }
}
@media (max-width: 768px) {
  .news_banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.news_info {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  padding-left: 156px;
  padding-top: 92px;
}
@media (max-width: 992px) {
  .news_info {
    padding-left: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .news_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 39px;
    align-items: center;
    max-width: 239px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.galery {
  padding-top: 96px;
}
@media (max-width: 1200px) {
  .galery {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .galery {
    padding-top: 58px;
  }
}
.galery_items {
  margin-top: 29px;
}
@media (max-width: 992px) {
  .galery_items {
    flex-wrap: wrap;
    gap: 14px 0;
  }
}
.galery_item {
  width: calc(25% - 10px);
}
@media (max-width: 992px) {
  .galery_item {
    width: calc(50% - 7px);
  }
}
.galery_item img {
  width: 100%;
}

.footer {
  background: #000000;
  padding: 36px 0;
  margin-top: 96px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .footer {
    padding-top: 66px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 58px;
    padding: 36px 0;
  }
}
@media (max-width: 768px) {
  .footer_logo img {
    max-width: 170px;
  }
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer_top {
  max-width: 1529px;
}
@media (max-width: 1310px) {
  .footer_top {
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start !important;
  }
}
@media (max-width: 768px) {
  .footer_top {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
  }
}
.footer_top ul {
  gap: 39px;
}
@media (max-width: 1300px) {
  .footer_top ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer_top ul {
    gap: 20px;
  }
}
.footer_menu {
  gap: 16px 0;
}
@media (max-width: 1300px) {
  .footer_menu {
    gap: 24px;
    flex-wrap: wrap;
  }
}
.footer_menu li {
  list-style: none;
}
.footer_bottom {
  margin-top: 141px;
  color: #fff;
}
@media (max-width: 1300px) {
  .footer_bottom {
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .footer_bottom {
    margin-top: 40px;
    padding-bottom: 56px;
  }
}

.sidebar {
  width: 100%;
  max-width: 390px;
}
.sidebar_links {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 94px;
}
.sidebar_links li {
  list-style: none;
}
.sidebar_links a {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.brands .container {
  padding-top: 21px !important;
}
@media (max-width: 768px) {
  .brands .container {
    gap: 0 !important;
    padding-top: 0 !important;
  }
}
.brands .brands_items {
  gap: 57px;
  margin-top: 44px;
}
@media (max-width: 992px) {
  .brands .brands_items {
    margin-top: 26px;
  }
}
.brands .brands_items .brands_item_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}
.brands .brands_items ul,
.brands .brands_items p {
  max-width: 981px;
}
.brands .brands_items li {
  list-style: none;
}
.brands .news_page_content.contacts {
  max-width: 1240px;
}
@media (max-width: 992px) {
  .brands .news_page_content.contacts .section_title.none {
    display: none;
  }
}
.brands ul {
  gap: 20px;
}
.brands ul a.active {
  color: #f60;
}
.brands ul a:hover {
  color: #f60;
}
.brands p.mt {
  max-width: 850px;
  margin-top: 20px;
}
.brands .sidebar {
  width: 100%;
  max-width: 390px;
}
@media (max-width: 1200px) {
  .brands .sidebar {
    max-width: 250px;
  }
}
@media (max-width: 992px) {
  .brands .sidebar {
    max-width: calc(100% + 44px);
  }
}
.brands .sidebar .section_title {
  display: none;
}
@media (max-width: 992px) {
  .brands .sidebar .section_title {
    display: block;
    margin-top: 16px;
  }
}
@media (max-width: 992px) {
  .brands .sidebar .sidebar_links {
    margin-top: 16px;
    margin-left: 0;
    overflow-x: auto;
    flex: 0 0 auto;
  }
}
.brands .sidebar .sidebar_links::-webkit-scrollbar {
  display: none;
}
@media (max-width: 992px) {
  .brands .sidebar .sidebar_links li {
    flex: 0 0 auto;
  }
}
@media (max-width: 992px) {
  .brands .sidebar .sidebar_links li br {
    display: none;
  }
}
@media (max-width: 768px) {
  .brands .sidebar .sidebar_links li a {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .brands .sidebar .sidebar_links .flex {
    flex-direction: row;
  }
}

.profile_items {
  gap: 50px;
  padding-top: 44px;
}
.profile_item {
  gap: 20px;
}
.profile_item_img {
  width: 100%;
  max-width: 136px;
}
.profile_item_img img {
  width: 100%;
}
.profile_item .profile_info_prices {
  gap: 11px;
  align-items: flex-end;
  margin-bottom: 2px;
}
.profile_item .profile_info_prices .old_price {
  font-size: 14px;
  text-decoration-line: line-through;
}
.profile_item .profile_info_prices .new_price {
  color: #f60;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.catalog {
  padding-top: 63px;
}
.catalog .breadcrumbs {
  color: #a9a9ad;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.catalog .breadcrumbs_items {
  gap: 5px;
}
.catalog .breadcrumbs li {
  list-style: none;
}
.catalog .breadcrumbs a {
  text-decoration: none;
}
.catalog_sidebar li {
  list-style: none;
}
.catalog_links {
  padding-top: 94px;
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.catalog_links li {
  width: 100%;
}
.catalog_links a {
  width: 100%;
  justify-content: space-between;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.2s linear;
}
.catalog_links a img {
  transition: all 0.2s linear;
}
.catalog_links a:hover {
  color: #f60;
}
.catalog_links a:hover img {
  transform: rotate(-90deg);
}

.news_page {
  padding-top: 14px;
}
@media (max-width: 768px) {
  .news_page {
    padding-top: 0;
  }
}
.news_page .container {
  position: relative;
  gap: 20px;
}
@media (max-width: 992px) {
  .news_page .container {
    flex-direction: column;
    gap: 16px;
  }
}
.news_page .bg_ictec {
  width: calc(100% - 64px);
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  z-index: -1;
}
@media (max-width: 992px) {
  .news_page .bg_ictec {
    display: none;
  }
}
.news_page .breadcrumbs_items {
  gap: 5px;
  color: #a9a9ad;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .news_page .breadcrumbs_items {
    padding-top: 0;
  }
}
.news_page .breadcrumbs_items li {
  list-style: none;
}
.news_page .breadcrumbs_items a {
  color: #a9a9ad;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.news_page_content {
  max-width: 971px;
  position: relative;
  margin: 0 auto;
}
.news_page_items {
  margin-top: 39px;
  gap: 42px;
}
@media (max-width: 768px) {
  .news_page_items {
    gap: 41px;
    margin-top: 16px;
  }
}
.news_page_item {
  gap: 20px;
}
@media (max-width: 768px) {
  .news_page_item {
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
}
.news_page_item img {
  width: 100%;
  max-width: 293px;
}
@media (max-width: 768px) {
  .news_page_item img {
    max-width: 100%;
  }
}
.news_page_item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_page_item_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news_page_item p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .news_page_item p {
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.news_page_item .date {
  color: #a9a9ad;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 5px;
}
@media (max-width: 768px) {
  .news_page_item .date {
    margin-top: 19px;
  }
}
.news_page.only .news_page_item {
  gap: 33px;
  margin-top: 22px;
}
@media (max-width: 768px) {
  .news_page.only .news_page_item {
    gap: 30px;
  }
}
.news_page.only .news_page_item img {
  width: 100%;
  max-width: 918px;
}
.news_page.only .news_page_item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_page.only .news_page_item_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news_page.only .news_page_item p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  max-width: 606px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .news_page.only .news_page_item p {
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.news_page.only .news_page_item .date {
  color: #a9a9ad;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 19px;
  width: 997px;
}
@media (max-width: 1200px) {
  .news_page.only .news_page_item .date {
    width: 100%;
  }
}
.news_page .contacts {
  width: 100%;
}

.contact_content {
  gap: 145px;
  margin-top: 27px;
  margin-bottom: 66px;
}
@media (max-width: 1400px) {
  .contact_content {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .contact_content {
    flex-wrap: wrap;
    gap: 45px 0;
  }
}
@media (max-width: 768px) {
  .contact_content {
    gap: 28px;
    margin-bottom: 27px;
  }
}
@media (max-width: 1200px) {
  .contact_content .contact_content_item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .contact_content .contact_content_item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact_content .contact_content_item:first-child {
    order: 4;
  }
}
.contact_content_title {
  color: #a9a9ad;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact_content a {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 992px) {
  .contact_content a {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .contact_content a {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .maps iframe {
    height: 312px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 32px;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    padding: 0 22px;
  }
}

.flex {
  display: flex;
}

.flex.a_center {
  align-items: center;
}

.flex.a_start {
  align-items: flex-start;
}

.flex.a_end {
  align-items: flex-end;
}

.flex.end {
  justify-content: end;
}

.flex.center {
  justify-content: center;
}

.flex.between {
  justify-content: space-between;
}

.flex.around {
  justify-content: space-around;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.no_wrap {
  flex-wrap: nowrap;
}

.flex.gap_4 {
  gap: 4px;
}

.flex.gap_8 {
  gap: 8px;
}

.flex.gap_12 {
  gap: 12px;
}

.flex.gap_16 {
  gap: 16px;
}

.flex.gap_24 {
  gap: 24px;
}

.flex.grow {
  flex-grow: 1;
}

.flex.no_grow {
  flex-grow: 0;
}

.button {
  background: #f60;
  padding: 19px 74px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
@media (max-width: 768px) {
  .button {
    padding: 12px 36px 12px 37px;
    color: #fff;
  }
}

.section_title {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1400px) {
  .section_title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .section_title {
    font-size: 32px;
  }
}/*# sourceMappingURL=style.css.map */